.admin_page_body{
    text-align: center;
    padding: 10px;
}

div.sidebar {
    display: flex;
    width: 19%;
    float: left;
}

div.food_table {
    width: 79%;
    float: right;
}

form {
    margin: 10px;
    padding: 20px;
}

input {
    margin: 10px;
}

.input_name, .input_category {
    float: left;
    padding: 20px;
}

.error_state {
    color: red;
}

