.inner{
    max-width: 1900px;
    text-align: center;
    padding: 10px;
    position: relative;
}

div.sidebar {
    display: flex;
    width: 19%;
    top: 10px;
    left: 10px;
    position: absolute;
}

div.food_table {
    width: 79%;
    top: 50px;
    right: 4px;
    position: absolute;
}
.menu_add_btn {
    background: #ffdc7a;
    color: #000;
    border: #ffdc7a;
    top: 0px;
    right: 1px;
    position: absolute;
}

form.form_addfood {
    margin: 10px;
    padding: 20px;
}

.input_name, .input_category {
    float: left;
    padding: 20px;
    margin: 10px;
}

.error_state {
    color: red;
}

