.restaurant_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.restaurant_list{
    margin-top: 50px;
    margin-bottom: 50px;
}

ul.restaurant_list_item, ol.restaurant_list_item {
    margin: 0px;
    padding: 0px;
    width: 90vw;
    height: 100%;
    text-align: left;
    list-style: none;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 0px #cecece;
}

ul.restaurant_list_item li, ol.restaurant_list_item li {
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}
